map $http_upgrade $connection_upgrade { default upgrade; '' close; }

server {
    listen 8080;
    server_name _;
    location = /healthz { access_log off; return 200 'ok'; add_header Content-Type text/plain; }
    ${HTTP_SERVER_BODY}
}
